{% extends "base.html" %}
{% block content %}

{% if results %}

<p class="bolded" >体温集計データ</p>
    <table>
        <tr>
            <th>id</th>
            <th>選手名</th>
            <th>保護者ID</th>
            <th>入力日</th>
            <th>体温チェック日</th>
            <th>提出者名</th>
            <th>提出日</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{ result.id }}</td>
            <td>{{ result.student_name }}</td>
            <td>{{ result.parent_id }}</td>
            <td>{{ result.input_date }}</td>
            <td>{{ result.check_date }}</td>
            <td>{{ result.modified_by }}</td>
            <td>{{ result.created }}</td>
        </tr>
        {% endfor %}
    </table>

{% endif %}

{% if users %}

<p class="bolded" >アプリ登録保護者氏名一覧（登録順）</p>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>role</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
        </tr>
        {% endfor %}
    </table>
    
{% endif %}


{% endblock %}