<!-- base.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <link rel="stylesheet" href="/static/style.css">
  <title>Temperature Check App</title>
</head>
<body>
  <header>
    <a href="{{ url_for('main') }}">
      <img class="logo float-left" src="/static/img/honeys_logo.png" alt="honeys_logo"/>
    </a>
    <h2 class="float-left">Honey's 体温チェック</h2>
  </header>
  <div id="nav-wrapper">
    <nav>
      <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span></li>
        <li><a href="{{ url_for('logout') }}">ログアウト</a></li>
          {% if g.user['role'] == "admin" and not admin_page %}
        <li><a href="{{ url_for('admin_page') }}">管理者画面</a></li>
          {% endif %}
          {% if g.user['role'] == "admin" and admin_page %}
        <li><a href="{{ url_for('main') }}">ホーム</a></li>
          {% endif %}
          {% else %}
        <li><a href="{{ url_for('register') }}">アカウント登録</a></li>
        <li><a href="{{ url_for('login') }}">ログイン</a></li>
          {% endif %}
        </ul>
    </nav>
  </div>
  <div class="content">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
    {% if today%}
      <p><b>{{ today }}</b></p>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
    <footer>
      <small>&copy; 2021 Studio Coforest.</small>
    </footer>
</body>
</html>
