{% extends "base.html" %}
{% block content %}

<div id="main">
  <section id="input">
    <h3>今日の体温を提出しましょう！</h3>
  </section>
</div>
<div>
  <form action="./" method="post" enctype="multipart/form-data">
    <label for="input_date">今日の日付<br>（右のカレンダーから選択できます）</label>
    <input type="date" name="input_date" id="input_date" required class="input-width-main">
    <label for="check_date">体温を記録したい日付<br>（右のカレンダーから選択できます）</label>
    <input type="datetime-local" name="check_date" id="check_date" required class="input-width-main">
    <select name="modified_by" required class="input-width-main">
      <option value="">提出者名</option>
      <option value="小林繁治">小林繁治</option>
      <option value="尾久土三枝子">尾久土三枝子</option>
      <option value="井上郡司">井上郡司</option>
      <option value="小林則夫">小林則夫</option>
      <option value="春名昌美">春名昌美</option>
    </select>
    <select name="parent_id" required class="input-width-main">
      <option value="">提出者ID</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <select name="student_name" required class="input-width-main">
      <option value="">選手名その1</option>
      <option value="小林佳奈美">小林佳奈美</option>
      <option value="室山いずみ">室山いずみ</option>
      <option value="井上丈雄">井上丈雄</option>
      <option value="小林祐太">小林祐太</option>
      <option value="春名麻衣">春名麻衣</option>
    </select>
    <select name="temperature" required class="input-width-main">
      <option value="">今日の体温</option>
      {% for k in range(45) %}
        <option value="{{35.5+k/10}}">{{35.5+k/10}}</option>
      {% endfor %}
    </select>
    <br>
    <p>上記情報で間違いないか再確認の上、提出ボタンを押してください。</p>
    <input type="submit" value="提出">
  </form>
</div>
{% endblock %}
